@using NotePadApp.ViewModels.Dto;
@model VerificationDto


<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        main {
            flex: 1 0 auto;
        }

        body {
            background: #fff;
        }


        .input-field input[type=date]:focus + label,
        .input-field input[type=text]:focus + label,
        .input-field input[type=email]:focus + label,
        .input-field input[type=password]:focus + label {
            color: #261759;
        }

        .input-field input[type=date]:focus,
        .input-field input[type=text]:focus,
        .input-field input[type=email]:focus,
        .input-field input[type=password]:focus {
            border-bottom: 2px solid #261759;
            box-shadow: none;
        }

    </style>
</head>

<body>
    <div class="section"></div>
    <main>
        <center>
            <img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />
            <div class="section"></div>

            <form method="post" asp-action="VerifyOTP">
                <div class="form-group">
                    <label asp-for="otp">Enter OTP:</label>
                    <input asp-for="otp" type="text" class="form-control" name="otp" maxlength="6" pattern="\d{6}" required>
                </div>
                <input type="hidden" name="jwtToken" value="@TempData["JWTToken"]" /> <!-- Add this line -->
                <button type="submit" class="btn btn-primary">Verify</button>
            </form>
          
        </center>

        <div class="section"></div>
        <div class="section"></div>
    </main>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

</body>
<script>

</script>

</html>